[submodule "hengistwang.github.io"]
	path = public
	url = git@github.com:hengistwang/hengistwang.github.io.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
